{% extends 'base.html.twig' %}

{% block title %}Articles par catégorie{% endblock %}

{% block body %}
<h1>Articles</h1>


<div class="row row-cols-1 row-cols-md-3 g-4">
        {% for article in articles %}

            <div class="col">
                <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title">
                                      
                    {{ article.name }}
                    </a>
                    </h5>
                    
                    
                  
                </div>
                </div>
            </div> 

         {% endfor %}

</div>


{% endblock %}
