{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
<h1>Liste des catégories</h1>


<div class="row row-cols-1 row-cols-md-3 g-4">
        {% for category in liste_categories %}

            <div class="col">
                <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title">
                          
                    <a href="{{ path('app_category_articles', {'id': category.id}) }}">                   
                    {{ category.name }}
                    </a>
                    </h5>
                    
                    
                  
                </div>
                </div>
            </div> 

         {% endfor %}

</div>


{% endblock %}
